@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
.main-page {
  background-color: #f0f0f0;
  width: 80%;
  float: right;
  min-height: 100vh;
  overflow: auto;
}
label {
  font-size: 16px;
  font-weight: 600;
  color: #6f6f6f;
}
input[type='email'],
input[type='password'],
input[type='text'] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #6f6f6f;
  background: transparent;
  outline: 0;
  margin-top: 20px;
  margin-bottom: 39.5px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.loading {
  font-family: 'Poppins', sans-serif;
  margin-left: 2%;
}

@media only screen and (max-width: 480px) {
  .main-page {
    width: 60%;
  }
}
