.modal {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  border: solid 1px #707070;
  background-color: #ffffff;
  z-index: 1000;
  margin-left: 40%;
}

#close-x {
  width: 40px;
  height: 40px;
  margin-top: 14px;
  margin-left: 90%;
}
#close-x:hover {
  opacity: 40%;
}

.success-mess {
  height: 37px;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #3bb49d;
}

.underline-user-text {
  width: 30px;
  height: 0;
  border: solid 3px #24c6dc;
  margin-top: 0;
  margin-bottom: 22px;
  border-radius: 15px;
  margin-left: 9%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.update,
.delete {
  width: 200px;
  height: 50px;
  padding-top: 13px;
  border-radius: 40px;
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  color: white;
  display: block;
}
.delete {
  margin-right: 9%;
  background-color: #b43b52;
}
.delete:hover {
  color: white;
  background-color: #b43b51b6;
}
.update {
  margin-left: 9%;
  background-color: #24c6dc;
}
.update:hover {
  color: white;
  background-color: #24c7dca8;
}
.user-det {
  height: 34px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  margin-top: 18px;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
  width: 70%;
  margin-left: 9%;
}
.prod-name {
  height: 34px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #24c6dc;
  margin-left: 9%;
  width: 70%;
}

.prod-inv,
.prod-price,
.prod-min-stock {
  height: 34px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #6f6f6f;
  margin-left: 9%;
  width: 70%;
}
.s-inv,
.s-price,
.s-min-stock,
.s-ks {
  color: #24c6dc;
}
